<launch>
  <!-- NOTE:  Before running this launch file      -->
  <!-- First launch gazebo manually by:            -->
  <!-- roslaunch jetbot_gazebo spawn_jetbot.launch -->

  <!-- Arguments -->
  <!-- Move base or Move base flex -->
  <arg name="move_base_flex" default='0' doc="move_base type [0, default = move_base; 1 = move_base_flex]"/>
  <!-- Map, visualization config and other args -->
  <arg name="map_file" default="$(find jetbot_navigation)/maps/map.yaml"/>  
  <arg name="open_rviz" default="true"/>
  <arg name="move_forward_only" default="false"/>
  <arg name="rvizconfig" default="$(find jetbot_viz)/rviz/jetbot_navigation_move_base.rviz" 
       if="$(eval arg('move_base_flex') == 0)"/>
  <arg name="rvizconfig" default="$(find jetbot_viz)/rviz/jetbot_navigation_move_base_flex.rviz" 
       if="$(eval arg('move_base_flex') == 1)"/>       
  <!-- World where the jetbot will be spawned -->
  <arg name="world_name" default="$(find jetbot_gazebo)/worlds/turtlebot3_world.world" />
  <!-- arguments for the realsense camera to load -->
  <arg name="pointcloud_enable" default="true" />
  <arg name="realsense_enable" default="true" /> 
  <!-- arguments for lidar use -->
  <arg name="lidar_enable" default="true" />
  <arg name="visualize_laser" default="true" /> 
  <!-- argument for imu use -->
  <arg name="imu_enable" default="true" />  
  <!-- argument for gps use -->
  <arg name="gps_enable" default="true" />  
  <!-- argument for ultrasonic use -->
  <arg name="ultrasonic_enable" default="true" />
  <!-- Position of the robot -->
  <arg name="x" default="1.0"/>
  <arg name="y" default="2.0"/>
  <arg name="z" default="-1.0"/>
  <arg name="yaw" default="0.0"/>    
  <!-- Position of the robot -->
  <arg name="local_planner" default="dwa" />

  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

  <!-- AMCL -->
  <include file="$(find jetbot_navigation)/launch/amcl.launch"/>

  <!-- move_base -->
  <include file="$(find jetbot_navigation)/launch/move_base.launch">
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
    <arg name="local_planner" value="$(arg local_planner)" />
    <arg name="move_base_flex" value="$(arg move_base_flex)" />
  </include>

  <!-- gazebo controller manager -->
  <include file="$(find jetbot_control)/launch/jetbot_controller_manager.launch" />

  <!-- rviz -->
  <include file="$(find jetbot_viz)/launch/view_model.launch" >
    <arg name="pointcloud_enable" value="$(arg pointcloud_enable)"/>
    <arg name="realsense_enable" value="$(arg realsense_enable)"/>
    <arg name="lidar_enable" value="$(arg lidar_enable)"/>
    <arg name="visualize_laser" value="$(arg visualize_laser)"/>
    <arg name="imu_enable" value="$(arg imu_enable)"/>
    <arg name="gps_enable" value="$(arg gps_enable)"/>
    <arg name="ultrasonic_enable" value="$(arg ultrasonic_enable)"/>
    <arg name="rvizconfig" value="$(arg rvizconfig)"/> 
  </include>

</launch>
